*{
    box-sizing: border-box;
}

label{
    display: block;
}

.bloc1{
    float: left;
    width: 50%;
    height: 500px;
    background: #555;
    border: 10px solid #222;
    position: relative;
}

.bloc2{
    float: left;
    width: 50%;
    height: 500px;
    background: #555;
    border: 10px solid #222;
    position: relative;
}

.pick{
    float: left;
    width: 100%;
    height: 200px;
    background: #555;
    border: 10px solid #222;
    position: relative;
}

.blockElement{
    background: dodgerblue;
    border: 1px solid #000;
    display: block;
    position: absolute;
}

