<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Pythagore</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="js/utilities.js"></script>
</head>
<body ng-app="block">

    <div class="bloc1">
    </div>

    <div class="bloc2">
    </div>

    <div class="pick">
    </div>

    <hr>

    <section ng-controller="GeneratorCtrl">
        <form novalidate>
            <fieldset>
            <legend>Generateur</legend>

                <!--<label>Choix du chapitre :</label>-->
                <!--<select ng-model="block.chapter" ng-option="chapter.value for chapter in chapters">-->
                <!--</select>-->

                <!--<label>Choix du niveau :</label>-->
                <!--<select ng-model="block.level" ng-option="level.value for level in levels"></select>-->

                <label>Value :</label>
                <input ng-model="block.value" type="text">

                <label>Area :</label>
                <input ng-model="block.area" type="text">

                <label>Draggable :</label>
                <input ng-model="block.isDraggable" type="checkbox">
                <label>Not draggable</label>
                <input ng-model="block.isNotDraggable"  type="checkbox">

                <label>Show Number :</label>
                <input ng-model="block.showNumber" type="checkbox">
                <label>Hide Number</label>
                <input ng-model="block.hideNumber"  type="checkbox">

                <label>Position X :</label>
                <input ng-model="block.gridX" type="text">

                <label>Position Y :</label>
                <input ng-model="block.gridY" type="text">



                <button ng-click="addBlock()">Valider</button>
            </fieldset>
        </form>
    </section>

    <script src="js/angular.js"></script>
    <script src="js/classes/Shape.class.js"></script>
    <script src="js/classes/Level.class.js"></script>
    <script src="js/classes/Player.class.js"></script>
    <script src="js/classes/Map.class.js"></script>
    <script src="js/classes/Game.class.js"></script>
    <script src="js/pythagore.js"></script>
</body>
</html>