@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(../font/ubuntu-400.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url(../font/ubuntu-500.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(../font/ubuntu-700.woff) format('woff');
}

html, body, section {
	height: 100%;
	width: 100%;
}
body {
	background-image: url(../img/background.png);
	background-size: cover;
	color: #fff;
	font-family: 'Ubuntu';
	font-size: 2rem;
}

button[ng-click] {
	background-color: #ccc;
	border: solid 1px #ccc;
	color: #333;
	display: inline-block;
	font-weight: bold;
	line-height: 3rem;
	padding: 0 0.4rem;
	text-align: center;
}

/* Vue: Accueil */
section[ng-controller="homeCtrl"] > button[ng-click] {
	position: absolute;
}
section[ng-controller="homeCtrl"] button[ng-click="openExitWindow()"] {
	border-radius: 50%;
	left: 1rem;
	top: 1rem;
	width: 3rem;
}
section[ng-controller="homeCtrl"] button[ng-click="gotoOptions()"] {
	top: 1rem;
	right: 1rem;
}
section[ng-controller="homeCtrl"] button[ng-click="gotoProfilesList()"] {
	bottom: 1rem;
	right: 1rem;
}

/* Vue: Liste des profils */
section[ng-controller="profilesListCtrl"] > div {
	height: 16rem;
	margin-top: -8rem;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}
section[ng-controller="profilesListCtrl"] profile {
	display: inline-block;
	height: 16rem;
	margin: 0 2rem;
	position: relative;
	width: 8rem;
}
section[ng-controller="profilesListCtrl"] profile div {
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100%;
	opacity: 0.5;
	position: relative;
	width: 100%;
}
section[ng-controller="profilesListCtrl"] profile div.on {
	opacity: 1;
}
section[ng-controller="profilesListCtrl"] profile div.none { background-image: url(../img/avatar/none.png); }
section[ng-controller="profilesListCtrl"] profile div.minion { background-image: url(../img/avatar/minion.png); }
section[ng-controller="profilesListCtrl"] profile div h4 {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
section[ng-controller="profilesListCtrl"] > nav {
	bottom: 1rem;
	height: 3rem;
	position: absolute;
	text-align: center;
	width: 100%;
}
section[ng-controller="profilesListCtrl"] > nav > button.off {
	opacity: 0.2;
}
section[ng-controller="profilesListCtrl"] button[ng-click="gotoHome()"] {
	border-radius: 50%;
	left: 1rem;
	position: absolute;
	top: 1rem;
	width: 3rem;
}

/* Vue: Création/modification d'un profil */
section[ng-controller="profileAddOrEditCtrl"] {
	background-color: #333;
	position: absolute;
	z-index: 1;
}
section[ng-controller="profileAddOrEditCtrl"] div.profile {
	background-position: center top;
	background-size: contain;
	background-repeat: no-repeat;
	height: 40%;
	margin: 1rem auto;
	width: 12rem;
}
section[ng-controller="profileAddOrEditCtrl"] div.profileNickname {
	font-weight: 700;
	height: 10%;
	letter-spacing: 0.2rem;
	line-height: 100%;
	margin: 2rem auto;
	width: 25rem;
}
section[ng-controller="profileAddOrEditCtrl"] div.profileNickname label,
section[ng-controller="profileAddOrEditCtrl"] div.profileNickname span {
	display: inline-block;
	margin: 0 0.5rem;
	width: 1.5rem;
}
section[ng-controller="profileAddOrEditCtrl"] div.profileNickname label {
	height: 2rem;
	text-align: center;
	vertical-align: bottom;
}
section[ng-controller="profileAddOrEditCtrl"] div.profileNickname span {
	background-color: #fff;
	height: 0.2rem;
	margin-top: 0.5rem;
	vertical-align: top;
}
section[ng-controller="profileAddOrEditCtrl"] div.none { background-image: url(../img/avatar/none.png); }
section[ng-controller="profileAddOrEditCtrl"] div.minion { background-image: url(../img/avatar/minion.png); }
section[ng-controller="profileAddOrEditCtrl"] keyboard {
	bottom: 0;
	height: auto;
	left: 50%;
	margin-left: -26rem;
	position: absolute;
	text-align: center;
	width: 52rem;
}
section[ng-controller="profileAddOrEditCtrl"] keyboard > div {
	background-color: #ccc;
	border-radius: 0.5rem;
	display: inline-block;
	height: 3rem;
	line-height: 3rem;
	margin: 0.5rem;
	width: 3rem;
}
section[ng-controller="profileAddOrEditCtrl"] keyboard > div.space {
	width: 24rem;
}
section[ng-controller="profileAddOrEditCtrl"] keyboard > div.backspace {
	width: 6rem;
}
section[ng-controller="profileAddOrEditCtrl"] keyboard > div.enter {
	width: 8rem;
}
section[ng-controller="profileAddOrEditCtrl"] button[ng-click="gotoProfilesList()"] {
	border-radius: 50%;
	left: 1rem;
	position: absolute;
	top: 1rem;
	width: 3rem;
}

/* Vue: plateau de jeu */
block {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 32px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  width: 50px;
  z-index: 1;
}
block[draggable] {
  background-color: #fff;
  border-radius: 5px;
  color: #333;
}
block[droppable] {
  background-color: #ccc;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  border-radius: 5px;
}
