@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(../font/ubuntu-400.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url(../font/ubuntu-500.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(../font/ubuntu-700.woff) format('woff');
}

html, body, section {
	height: 100%;
	width: 100%;
}
body {
	background-image: url(../img/background.png);
	background-size: cover;
	color: #fff;
	font-family: 'Ubuntu';
	font-size: 2rem;
}

button[ng-click] {
	background-color: #ccc;
	border: solid 1px #ccc;
	color: #333;
	display: inline-block;
	font-weight: bold;
	line-height: 3rem;
	padding: 0 0.4rem;
	text-align: center;
}

/* Vue: Accueil */
section[ng-controller="homeCtrl"] > button[ng-click] {
	position: absolute;
}
button[ng-click="openExitWindow()"] {
	border-radius: 50%;
	left: 1rem;
	top: 1rem;
	width: 3rem;
}
button[ng-click="gotoOptions()"] {
	top: 1rem;
	right: 1rem;
}
button[ng-click="gotoProfilesList()"] {
	bottom: 1rem;
	right: 1rem;
}

/* Vue: Liste des profils */
section[ng-controller="profilesListCtrl"] > div {
	height: 16rem;
	margin-top: -8rem;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}
profile {
	display: inline-block;
	height: 16rem;
	margin: 0 2rem;
	position: relative;
	width: 8rem;
}
profile div {
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100%;
	opacity: 0.5;
	position: relative;
	width: 100%;
}
profile div.on {
	opacity: 1;
}
profile div.none { background-image: url(../img/avatar/none.png); }
profile div.minion { background-image: url(../img/avatar/minion.png); }
profile div h4 {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
section[ng-controller="profilesListCtrl"] > nav {
	bottom: 1rem;
	height: 3rem;
	position: absolute;
	text-align: center;
	width: 100%;
}
section[ng-controller="profilesListCtrl"] > nav > button.off {
	opacity: 0.2;
}
button[ng-click="gotoHome()"] {
	border-radius: 50%;
	left: 1rem;
	position: absolute;
	top: 1rem;
	width: 3rem;
}